In [66]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas
from math import inf

k =5 

df=pandas.read_excel('/content/drive/MyDrive/data_sheet.xlsx')
df

In [68]:
# The distance function used here is similarity function
#Similarity(A,B)=sum from 1 to 4 (wi*∂(ai ,bi))
#where ∂(ai ,bi) is 1 if ai equals bi and 0 otherwise. ai and bi are either age, income,
#student or credit_rating. Weights are all 1 except for income it is 2. 
# Reference for such similarity measure is taken from  https://webdocs.cs.ualberta.ca/~zaiane/courses/cmput695/F07/exercises/Exercises695Clas-solution.pdf

In [69]:
x = ('<=30','Medium', 'Yes', 'Fair')

In [70]:
pred = []

features = [i for i in df.columns if i!='Class : buys_computer' and i!='RID' ]

print(features)
# print(df.iloc[0]['Class : buys_computer'])


for i in range(len(df)):
  distance = 0
  for index , feat in enumerate(features):
     weight = 1
     if(feat=='Income'):
       weight = 2
     delta = 0
     s1 = df.iloc[i][feat];
     s2 = x[index]
    
     if (s1==s2):
       delta = 1
     distance += (weight *delta)
  distance=distance/4
  pred.append((distance,df.iloc[i]['Class : buys_computer']))
print(pred)

['Age', 'Income', 'Student', 'Credit_rating']
[(0.5, 'No'), (0.25, 'No'), (0.25, 'Yes'), (0.75, 'Yes'), (0.5, 'Yes'), (0.25, 'No'), (0.25, 'Yes'), (1.0, 'No'), (0.75, 'Yes'), (1.0, 'Yes'), (1.0, 'Yes'), (0.5, 'Yes'), (0.5, 'Yes'), (0.5, 'No')]

In [71]:
tup = sorted(pred, key = lambda x: x[0],reverse = True)
print(tup)

[(1.0, 'No'), (1.0, 'Yes'), (1.0, 'Yes'), (0.75, 'Yes'), (0.75, 'Yes'), (0.5, 'No'), (0.5, 'Yes'), (0.5, 'Yes'), (0.5, 'Yes'), (0.5, 'No'), (0.25, 'No'), (0.25, 'Yes'), (0.25, 'No'), (0.25, 'Yes')]

In [72]:
classes = list(set(df['Class : buys_computer']))
print(classes)

['No', 'Yes']

In [73]:
d = {}
for i in range(k):
  d[tup[i][1]]=d.get(tup[i][1],0)+1

d =  sorted(d.items(), key = lambda x: x[0],reverse = True)
print('The class label associated with given list x = ',list(x),' is : ',d[0][0])

The class label associated with given list x =  ['<=30', 'Medium', 'Yes', 'Fair']  is :  Yes